.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  &__filter {
    border-radius: 100px;
    border: 2px solid var(--white);
    padding: 9px 17px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    &:hover {
      background-color: var(--light-gray);
      border-color: var(--light-gray);
      color: var(--very-dark-gray);
    }
    &_active {
      background-color: var(--white);
      color: var(--very-dark-gray);
    }
  }
}

@media only screen and (min-width: 992px) {
  .filters {
    gap: 10px;
    margin-top: 42px;
    margin-bottom: 48px;
  }
}
