.header {
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 1px 0px 0px 0px #686868;
  background-color: #171717;

  &__inner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__logo {
    position: absolute;
    top: 39px;
  }
  &__links {
    display: flex;
    flex-direction: column;
    gap: 61px;
  }
  &__link {
    display: flex;
    gap: 20px;
    align-items: center;
    color: #838383;

    img {
      filter: invert(50%) sepia(23%) saturate(0%) hue-rotate(184deg)
        brightness(98%) contrast(92%);
    }
    &:hover {
      text-decoration: underline;
    }
    &_active {
      color: #fff;
      img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(151deg)
          brightness(109%) contrast(101%);
      }
    }
  }
}
