.header {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: var(--very-dark-gray);
  position: absolute;

  &__inner {
    height: 73px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--very-dark-gray);
    width: calc(100% - 40px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0 20px;
  }
  &__logo {
    top: 39px;
  }
  &__links {
    display: flex;
    flex-direction: column;
    gap: 61px;
    margin: 151px 40px;
    z-index: 20;
    position: relative;
  }
  &__link {
    display: flex;
    gap: 20px;
    align-items: center;
    color: var(--medium-gray);

    img {
      filter: invert(50%) sepia(23%) saturate(0%) hue-rotate(184deg)
        brightness(98%) contrast(92%);
    }
    &:hover {
      text-decoration: underline;
    }
    &_active {
      color: var(--white);
      img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(151deg)
          brightness(109%) contrast(101%);
      }
    }
  }
  &__nav {
    background-color: #171717;
    position: absolute;
    top: 0;
    left: -368px;
    transition: left 0.3s;
    width: 86%;
    height: 100vh;
    max-width: 348px;
  }
  &__navActive {
    left: -20px;
  }
  &__backdrop {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: rgba(23, 23, 23, 0.63);
  }
}
@media only screen and (min-width: 992px) {
  .header {
    position: initial;
    max-height: none;
    background-color: #171717;
    box-shadow: 1px 0px 0px 0px #686868;

    &__inner {
      background-color: #171717;
      height: 100vh;
      width: auto;
      position: initial;
      flex-direction: column;
      justify-content: center;
    }
    &__nav {
      position: initial;
      width: auto;
      height: auto;
    }
    &__logo {
      position: absolute;
    }
  }
}
