.list {
  margin-top: 32px;
  margin-bottom: 76px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 19px;

  &__small {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  &__item {
    max-width: 680px;
    max-height: 384px;
    position: relative;
    img {
      border-radius: 10px;
    }
  }
  &__smallItem {
    &:hover {
      .list__darkBg {
        transition: opacity 0.2s ease-in-out;
        opacity: 0.8;
      }
    }
  }
  &__linearBg {
    min-height: 80px;
    width: 100%;
    background: linear-gradient(
      91deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 98.77%
    );
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 19px 19px 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  &__darkBg {
    width: 100%;
    height: 100%;
    background-color: var(--black);
    border-radius: 10px;
    transition: opacity 0.3s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__movieTitle {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }
  &__noResults {
    margin-top: 48px;
  }

  @media only screen and (max-width: 600px) {
    &__smallItem {
      width: calc(50% - 15px);
    }
  }
  @media only screen and (min-width: 992px) {
    gap: 32px;
    &__small {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media only screen and (min-width: 1192px) {
    display: grid;
    &__small {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media only screen and (min-width: 1400px) {
    &__small {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}
