.body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(auto, 278px) 1fr;
  gap: 32px;
}

.main {
  margin: 40px auto;
  padding-right: 25px;
  max-width: 1418px;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__disclaimerText {
    color: #838383;
    font-size: 1rem;
    text-align: center;
    margin-top: auto
  }
}
