@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background: #1a1a1a;

  --black: #000;
  --white: #fff;
  --light-gray: #d7d7d7;
  --medium-gray: #838383;
  --very-dark-gray: #1a1a1a;
}

.visually-hidden {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
